-- ============================================
-- ­ƒÄ» FINAL BACKFILL: URLs de INE para Embajadores
-- Basado en mapeo verificado por Antigravity
-- ============================================

BEGIN;

-- Embajador: Ana Mar├¡a Guzman (azulcoss@yahoo.com.mx) | Folder: temp_1771213806115
UPDATE public.ambassadors 
SET ine_front_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771213806115/1771213806117_ntr46x.png',
    ine_back_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771213806115/1771213806118_8t0py1.png'
WHERE id = '24254834-8880-42e3-9f39-7ad32a8d391f';

-- ÔÜá´©Å No direct match for Laksmi Cordova (laksmi.esisa@gmail.com)

-- ÔÜá´©Å No direct match for Lourdes Zepeda (2105luzdelourdes@gmail.com)

-- Embajador: Juan Perez (hepasoy223@desiys.com) | Folder: temp_1771049141331
UPDATE public.ambassadors 
SET ine_front_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771049141331/1771049141331_bm39va.pdf',
    ine_back_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771049141331/1771049141333_nmw95m.pdf'
WHERE id = '4c2e132c-cf10-45de-9c0f-458f40fe0a3b';

-- ÔÜá´©Å No direct match for Faysi Delta (tito_98@email.com)

-- ÔÜá´©Å No direct match for Luis Baez (luisbafa@email.com)

-- ÔÜá´©Å No direct match for Fidel Georgino (fidel2980@email.com)

-- ÔÜá´©Å No direct match for Ismael Perez (ismaelperez1026@gmail.com)

-- Embajador: Eduardo Vazquez (lalo.vazquezdg@outlook.com) | Folder: temp_1771616093682
UPDATE public.ambassadors 
SET ine_front_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771616093682/1771616093682_d6pn1p.png',
    ine_back_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771616093682/1771616093683_ae3wbh.png'
WHERE id = '5cf81d18-8b00-496f-a96b-f937bd6cc453';

-- Embajador: Abraham Garcia (abrahamjesusgarciaqq@gmail.com) | Folder: temp_1771616118251
UPDATE public.ambassadors 
SET ine_front_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771616118251/1771616118251_extlzw.png',
    ine_back_url = 'https://hjvhntxjkuuobgfslzlf.supabase.co/storage/v1/object/public/ine-documents/temp_1771616118251/1771616118251_qcewwy.png'
WHERE id = 'e1cb339e-6326-4f37-9f9d-a036b96b38da';

COMMIT;
