/* ===================================
   CUSTOM FONTS
   =================================== */

/* Fraiche Font - Custom */
@font-face {
    font-family: 'Fraiche';
    src: url('/fonts/fraiche/fraiche-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraiche';
    src: url('/fonts/fraiche/fraiche-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Outfit Font - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

/* ===================================
   TYPOGRAPHY VARIABLES
   =================================== */

:root {
    --font-heading: 'Fraiche', sans-serif;
    --font-body: 'Outfit', sans-serif;
}